h2 {
    color: salmon;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    
}

li {
    position: relative;
    flex: 1;
    padding: 50px 20px;
    min-width: 150px;
    list-style: none;
    font-size: 0;
    font-family: Helvetica, Arial, sans-serif;
}

li p {
    position: absolute;
    margin: 0 auto;
}

li img {
    max-width: 100%;
    min-height: 100%;
}

li:hover {
    background-color: rgba(255, 127, 80, 0.5);; 
}

li:hover img {
    opacity: 0.7;
    cursor: pointer;
}

li:hover p {
    font-size: 30px;
    font-style: bold;
    height: 80%;
    width: 80%;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    color: black;
}

.large-flag {
    max-width: 30%;
    min-width: 30%;
    height: auto;
}