<h2>Countries</h2>

<ul *ngIf='single'>
  The only country I've ever travelled to is {{ single.name }}
</ul>

<div id="countries">
  <ul>
    <li *ngFor="let c of countries" 
        id="{{ c.id }}" 
        (click)="setCountry(c)"
        [class.selected]="c===country">
      <img src="{{c.image}}" alt="flag of {{c.name}}" />
      <p>{{ c.name }}</p>
    </li>
  </ul>
</div>

<div *ngIf="country" id="{{ country.id }}">
  <div>
    <h3>{{ country.name }}</h3>
    <img class="large-flag" src="{{country.image}}" alt="flag of {{country.name}}" />
    <p>Still a Country: {{ country.stillACountry }}</p>
    <p>Date Established: {{country.established}}</p>
  </div>
</div>

